.ImageGalleryItem {
   border-radius: 4px;
   box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   }
.ImageGalleryItem__image {
   width: 100%;
   height: 260px;
   object-fit: cover;
   transition: transform 0.2s ease-in-out;
}

.ImageGalleryItem:hover .ImageGalleryItem__image {
   transform: scale(1.05);
   cursor: zoom-in;
   }